@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px;
}
body{
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7110feb6-9f1e-48dd-8f11-c7aba76770c9/d4f1qpa-fe9237e4-0706-45a7-9255-1171e87aae08.jpg/v1/fill/w_1217,h_657,q_75,strp/page_background_by_30ml-d4f1qpa.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi83MTEwZmViNi05ZjFlLTQ4ZGQtOGYxMS1jN2FiYTc2NzcwYzkvZDRmMXFwYS1mZTkyMzdlNC0wNzA2LTQ1YTctOTI1NS0xMTcxZTg3YWFlMDguanBnIiwid2lkdGgiOiI8PTEyMTciLCJoZWlnaHQiOiI8PTY1NyJ9XV19.lKGE0R6dDkye9Dwez0UNl5vMrx-9cvtVmyhX6b8G-ZI);
	background-size: cover;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.containerTop{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.containerMiddle{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.containerBottom{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 7%;
	border: 2px solid black;
	background-color: whitesmoke;
}
h3{
	text-align: center;
	text-shadow: 2px 2px 5px;
}
h1{
	text-align: center;
	background-image: url("https://static.tumblr.com/ga03bpe/6unm8mqyv/header-transpo.png");
	background-size: contain;
}
.github{
	margin-top: 3px;
}
#journalField{
	border: 3px inset rgb(46, 45, 45);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
select, form{
	border: 3px inset rgb(46, 45, 45);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#buttonEdit{
	border: 3px inset rgb(46, 45, 45);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#buttonDelete{
	border: 3px inset rgb(46, 45, 45);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}
#submitJournal{
	border: 3px inset rgb(46, 45, 45);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

}
